@media screen and (max-width:400px) {
    .nav-container{
        flex-direction: column;
        
        
    }
    .nav-logo-container{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center; 
    } 
    .nav-items-container{

   

        flex-direction: column;
        width: 100%;

    }
    .banner-container{ 
      flex-direction: column;
      margin: 0 auto;
      
 
    }
    .banner-description,.banner-image{
        width: 100%;
    }
    .banner-image img{
        height:200px ;
        width: 300px;

    }
    .gamer-container{
        flex-direction: column;
        margin: 0 auto;

    }
    .gamer-image,.gamer-text{
        width: 100%;
    }
    .online-cards{
        grid-template-columns:repeat(1,1fr);
        margin-left: 0px;
    }
    .play-container{
        flex-direction: column;
    }
    .play text,.play-image{
        width: 100%;
    }
}
